@import './theme.css';


.dashboard-summary-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.summary-graph-box {
  background: #f4f9ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.admin-content-box {
  background: #e3f6ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.timeline-item {
  background: white;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}
