.home-container {
    font-family: var(--font-main);
}

.home-header {
    display: flex;
    justify-content: center; /* กึ่งกลาง */
    align-items: center;
    background: var(--primary-main);
    padding: 12px 30px;
    color: white;
    gap: 30px;
}

.home-logo {
   font-size: 1.6em; 
    font-weight: 700; 
    color: white;
    cursor: pointer; 
}

.home-header nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    transition: all 0.2s;
}

.home-header nav a:hover,
.home-header nav a.active {
    color: var(--accent-main);
    border-bottom: 2px solid var(--accent-main);
}

.hero {
    text-align: center;
    padding: 60px 20px;
    margin: 70px auto;
    background: var(--gradient-flow);
    color: white;
}

.filter-section input[type="text"],
.filter-section input[type="date"] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--primary-light);
}

.file-list .timeline-item {
    padding: 12px;
    margin-bottom: 15px;
    background-color: var(--background-paper);
    border-radius: 10px;
}
