
.hero {
  text-align: center;
  padding: 40px 20px;
    margin: 70px auto;
  background: var(--gradient-flow);
  color: white; 
  margin-bottom: 15px; 
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: start; 
}

.dashboard-chart-column {
  background: #ffffff;
  padding: 25px; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.dashboard-chart-column h2 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--text-primary);
}

.dashboard-stats-column {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.chart-container {
  width: 100%;
  height: 250px; 
}

.dashboard-files-list {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex; 
  flex-direction: column;
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff; 
  padding: 1.5rem;
  border-radius: 12px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.stat-icon {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon.upload {
  background-color: #dbeafe; 
  color: #2563eb;
}

.stat-info {
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-size: 2rem; 
  font-weight: 700;
  color: #1e3a8a;
}

.stat-label {
  font-size: 0.9rem;
  color: #555;
  margin-top: -5px;
}

.timeline-item {
  padding: 12px;
  margin-bottom: 10px; 
  background-color: var(--background-paper);
  border-radius: 10px;
}
.timeline-item:last-child {
  margin-bottom: 0; 
}

@media (max-width: 900px) {
  .dashboard-grid {
    grid-template-columns: 1fr; 
  }
}

.chart-center-text-primary {
  font-size: 1.5rem; 
  font-weight: 600;
  fill: #FF8042; 
}

.chart-center-text-secondary {
  font-size: 0.9rem; 
  fill: #555; 
}

.greeting {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  display: inline-flex;
  align-items: baseline;
}

.fade-text {
  display: inline-block;
  min-width: 170px; 
  text-align: left;
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInOut 3s ease-in-out infinite;
  white-space: nowrap;
}

.username {
  display: inline;
  font-weight: 700;
  color: #fff;
  margin-left: 5px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  10%, 40% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}